<%- include("../layouts/header.ejs") %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <!-- top navbar -->
            <%- include("../layouts/top-nav.ejs") %>
                <!-- end of top navbar -->

                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">

                        <!-- navbar -->
                        <%- include("../layouts/navbar.ejs") %>
                            <!-- end of navbar -->

                            <div class="pcoded-content">
                                <div class="pcoded-inner-content">
                                    <div class="main-body">
                                        <div class="page-wrapper">

                                            <div class="page-body">

                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Categories Information</h5>

                                                        <% if( typeof success !=='undefined' ){%>
                                                            <div class="form-group text-center alert alert-success">

                                                                <%= success %>

                                                            </div>
                                                        <%}%>


                                                        <% if( typeof msg !=='undefined' ){%>
                                                            <div class="form-group text-center alert alert-danger">

                                                                <%= msg %>

                                                            </div>
                                                        <%}%>


                                                    </div>
                                                    <div class="card-block table-border-style">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Category Name</th>
                                                                        
                                                                        <th>Edit</th>
                                                                        <th>Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    <% if( typeof categories !=='undefined' ){ 
                                                                        for(var i=0; i < categories.length; i++){ %>

                                                                        <tr>
                                                                            <th scope="row">
                                                                                <%= categories[i].category_id %>
                                                                            </th>
                                                                            <td>
                                                                                <%= categories[i].category_name %>
                                                                            </td>
                                                                           

                                                                            <td>
                                                                                <a href="/api/dashboard/categories/edit/<%= categories[i].category_id %>"
                                                                                    class="btn btn-success btn-mini"><i
                                                                                        class="ti-pencil-alt"
                                                                                        style="font-size: 15px;    font-weight: bolder;"></i>
                                                                                </a>
                                                                            </td>
                                                                            <td>
                                                                                   <form action="/api/dashboard/categories" >
                                                                                    <button onclick="deleteCategory(event , <%= categories[i].category_id %>)"
                                                                                        class="btn btn-danger btn-mini"><i class="ti-trash"
                                                                                            style="font-size: 15px;    font-weight: bolder;"></i></button>
                                                                                        </form>
                                                                                        </td>
                                                                        </tr>

                                                                        <% } }else{ %>

                                                                            <div
                                                                                class="form-group text-center alert alert-danger">
                                                                                Table Is Empty</div>
                                                                            <% } %>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <script>
                                async function deleteCategory(event, id) {

                                    let category = {
                                        category_id: id
                                    }

                                    let res = await fetch("/api/dashboard/categories", {
                                        method: "DELETE",
                                        headers: {
                                            "content-type": "application/json"
                                        },
                                        body: JSON.stringify(category)
                                    });

                                    let resJson = await res.json();

                                    if (resJson.statusCode == 201) {

                                        res_msg.innerHTML = `<span class='alert alert-success'> ${resJson.statusText} </span>`
                                        
                                        

                                    } else {

                                        res_msg.innerHTML = `<span class='alert alert-danger'> ${resJson.error} </span>`

                                    }

                              
                                        window.open("/api/dashboard/categories/");
                                        
                                }
                            </script>



                    </div>
                </div>
        </div>
    </div>
    <%- include("../layouts/footer.ejs") %>