<%- include("../layouts/header.ejs") %>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <!-- top navbar -->
            <%- include("../layouts/top-nav.ejs") %>
                <!-- end of top navbar -->

                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">

                        <!-- navbar -->
                        <%- include("../layouts/navbar.ejs") %>
                            <!-- end of navbar -->

                            <div class="pcoded-content">
                                <div class="pcoded-inner-content">
                                    <div class="main-body">
                                        <div class="page-wrapper">

                                            <div class="page-body">


                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Users Information</h5>
                                                      
                                                    </div>
                                                    <div class="card-block table-border-style">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>First Name</th>
                                                                        <th>Last Name</th>
                                                                        <th>Phone</th>
                                                                        <th>Address</th>
                                                                        <th>Email</th>
                                                                        <!-- <th>Created At</th> -->
                                                                        <th>Edit</th>
                                                                        <th>Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    <% if( typeof users !=='undefined' ){ for(var i=0; i
                                                                        < users.length; i++){ %>

                                                                        <tr>
                                                                            <th scope="row">
                                                                                <%= users[i].user_id %>
                                                                            </th>
                                                                            <td>
                                                                                <%= users[i].first_name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= users[i].last_name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= users[i].phone %>
                                                                            </td>
                                                                            <td>
                                                                                <%= users[i].address %>
                                                                            </td>
                                                                            <td>
                                                                                <%= users[i].email %>
                                                                            </td>
                                                                            <!-- <td><%= (users[i].created_at) %></td> -->

                                                                            <td>
                                                                                <a href="/api/dashboard/users/edit/<%= users[i].user_id %>"
                                                                                    class="btn btn-success btn-mini"><i
                                                                                        class="ti-pencil-alt"
                                                                                        style="font-size: 15px;    font-weight: bolder;"></i>
                                                                                </a>
                                                                            </td>
                                                                            <td>
                                                                                <form action="/api/dashboard/users">
                                                                                   
                                                                                    
                                                                                    <button onclick="deleteUser(event , <%= users[i].user_id %>)"
                                                                                        class="btn btn-danger btn-mini"><i class="ti-trash"
                                                                                            style="font-size: 15px;    font-weight: bolder;"></i></button>
                                                                                </form>
                                                                            </td>
                                                                        </tr>

                                                                        <% } }else{ %>

                                                                            <div
                                                                                class="form-group text-center alert alert-danger">
                                                                                Table Is Empty</div>
                                                                            <% } %>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                    </div>
                </div>
        </div>
    </div>

    <script>
        async function deleteUser(event, id) {

            let user = {
                user_id: id
            }

            let res = await fetch("/api/dashboard/users", {
                method: "DELETE",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify(user)
            });

            let resJson = await res.json();

            if (resJson.statusCode == 201) {

                res_msg.innerHTML = `<span class='alert alert-success'> ${resJson.statusText} </span>`

            } else {

                res_msg.innerHTML = `<span class='alert alert-danger'> ${resJson.error} </span>`

            }
        }
    </script>
    <%- include("../layouts/footer.ejs") %>